#tabuleiro {
    background-color: black;
    width: 450px;
    height: 450px;
    margin-left: 5em;
    padding: 0.2em;
    float: left;
}

#resultado {
    float: left;
    background-color: #f5e399;
    height: 200px;
    width: 300px;
    margin-left: 5em;
    padding: 2em;
}

.casa {
    background-color: white;
    margin-bottom: 1em;
    float: left;
    width: 139.3px;
    height: 139.3px;
}

.meio {
    margin-left: 1em;
    margin-right: 1em;
}

br.clear {
    clear: both;
}